%h2 Edit
= form_for @discussion, :method => "PUT", :remote => true, :format => :json do |f|
  %p
    .subject
      = f.text_field  :subject, :class => 'span12', :required => true
    .body
      = f.text_area  :body, :class => 'span12', :required => true, :rows => 20
  = f.submit("Save")
