:javascript
  -#$(function() {
  -#  $("#new_discussion").bind("ajax:success", function(xhr, data, status) {
  -#    $("#new_discussion #discussion_body").val('');
  -#  });
  -#});
.well
  %h2 Post
  = render :partial => "form"