<% content_for :head do %>
  <%= javascript_include_nodevent %>
<% end %>

<% content_for :js do %>
  var user = <%= @user.to_json.html_safe %>;
  var theroom = null;
  NoDevent.ready(
    user, function() {
      var roomname = '<%= NoDevent::Emitter.room("theroom") %>';
      onJoin(roomname, NoDevent.join(roomname));
    });
  updateLoc('<%= public_path %>');

<% end %>
<a href="https://github.com/cconstantine/NoDeventDemo"><img style="
z-index:10;position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<div id="mapbox" style="width: 100%; min-height: 100%"></div>
